/*
会員登録（ログイン画面、パスワード変更画面共有）
****/

.container-k{
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
}

.card-k{
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    padding-top: 40%;
}

.card-header-k{
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 300px;
    padding: 30px;
    font-weight: bold;
    font-size: x-large;
}

.row-k.mb-0-k{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    width: 100%;
}

.row-k.mb-3-k{
    margin-top: 20px;
    width:100%;
}

.form-control-k{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 15;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 150;
}

.form-check-k{
    font-size: small;
    font-size: small;
}

.col-md-8-k.offset-md-4-k{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.btn-k.btn-primary-k{
    background-color: #1af;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 15px;
}

.row-k.mb-1-k{
    text-align: center;
    font-size: 13px;
    width: 100%;
}

.btn-k.btn-link-k{
    color: #111111;
    cursor: pointer;
}

.first-k.register-k{
    text-align: center;
    margin: 15px;
    color: #111111;
}

.btn-k.first-k.register-k{
    color: #111111;
    font-weight: bold;
    font-size: small;
}

.his-k{
    font-size: x-small;
    text-align: center;
}

.col-md-5-k.col-form-label-k.text-md-right{
    font-size: x-small;
}

.col-md-4-k.col-form-label-k.text-md-right{
    font-size: small;
    font-weight: bold;
}

.invalid-feedback-email-k{
    background-color: #fff3cd;
    border-color: #ffecb5;
    font-size: small;
}